*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.p5Canvas {
  z-index: -1;
}

#text {
}

.wrapper {
  position: fixed;
  bottom: 200px;
  width: 800px;
  height: 150px;
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(245, 212, 0);
}

#mDock {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /**background: pink;**/
}

.mBtn {
  margin: 20px;
  width: 233px;
  height: 138px;
  /**/
  border-radius: 10px;
  border: 5px solid rgb(245, 212, 0);
  background: rgb(255, 221, 0);
}

#cDock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 200px;
  /**background: pink;**/
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /**width: 800px;**/
}

tr.spaceUnder>td {
  padding-bottom: 5em;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0px;
  margin-top: 20px;
}

.btn {
  margin: 20px;
  width: 138px;
  height: 233px;
  /**/
  border-radius: 10px;
  border: 5px solid rgb(245, 212, 0);
  background: rgb(255, 221, 0);
  /**/
  position: relative;
  top: 0;
  left: 0;
  transition: top ease 0.8s;
  transition: left ease 0.8s;
}

.btn:hover {
  top: -20px;
  left: -5px;
  box-shadow: 0px 0px 20px 1px rgb(185, 22, 185);
}
