body {
  background-color: rgb(224, 205, 150);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

button {
    display: inline-block;
    float: inherit;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-CSS {
    background-image: url( 'media/icons/MUSIC001.png' );
    outline: none;
    background-size: 100px 100px;
    background-color: rgba(255, 0, 0, 0);
    height: 100px;
    width: 100px;
}

.wrapPosition {
  position: relative;
}

.wrapPosition::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url('media/images/bkg-02.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.bkgContent {
  position: relative;
}

p.lyricwrapper {
  float: none;
  text-align: center;
  line-height: 1.25;
}

#c1::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
#c2::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
#c3::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
#c4::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
#c5::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
#c6::after {
  content: "\a";
  white-space: pre;
  line-height: 2;
}
